@font-face {
  font-family: "DelaGothicOne";
  src: local("DelaGothicOne"), local("DelaGothicOne-Regular"),
    url("../../fonts/DelaGothicOne/DelaGothicOne-Regular.woff2") format("woff2"),
    url("../../fonts/DelaGothicOne/DelaGothicOne-Regular.woff") format("woff"),
    url("../../fonts/DelaGothicOne/DelaGothicOne-Regular.ttf") format(".ttf"),
    url("../../fonts/DelaGothicOne/DelaGothicOne-Regular.eot") format(".eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"), local("Raleway-Regular"),
    url("../../fonts/RalewayFont/Raleway-Regular.woff") format("woff"),
    url("../../fonts/RalewayFont/Raleway-Regular.woff2") format("woff2"),
    url("../../fonts/RalewayFont/Raleway-Regular.ttf") format(".ttf"),
    url("../../fonts/RalewayFont/Raleway-Regular.eot") format(".eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"), local("Raleway-Light"),
    url("../../fonts/RalewayFont/Raleway-Light.woff") format("woff"),
    url("../../fonts/RalewayFont/Raleway-Light.woff2") format("woff2"),
    url("../../fonts/RalewayFont/Raleway-Light.ttf") format(".ttf"),
    url("../../fonts/RalewayFont/Raleway-Light.eot") format(".eot");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"), local("Raleway-Bold"),
    url("../../fonts/RalewayFont/Raleway-Bold.woff") format("woff"),
    url("../../fonts/RalewayFont/Raleway-Bold.woff2") format("woff2"),
    url("../../fonts/RalewayFont/Raleway-Bold.ttf") format(".ttf"),
    url("../../fonts/RalewayFont/Raleway-Bold.eot") format(".eot");
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: local("Raleway"), local("Raleway-SemiBold"),
      url("../../fonts/RalewayFont/Raleway-SemiBold.woff") format("woff"),
      url("../../fonts/RalewayFont/Raleway-SemiBold.woff2") format("woff2"),
      url("../../fonts/RalewayFont/Raleway-SemiBold.ttf") format(".ttf"),
      url("../../fonts/RalewayFont/Raleway-SemiBold.eot") format(".eot");
    font-weight: 600;
    font-style: normal;
  }

html,
body {
  font: 12px/20px "Raleway", Geneva, Verdana, sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  text-align: left;
}


.heading {
    font-family: "DelaGothicOne", Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .heading--h1 {
    font-size: 64px;
    line-height: 72px;
  }
  
  .heading--h2 {
    font-size: 36px;
    line-height: 51px;
  }
  
  .subheading {
    font-family: "Raleway", Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .text--submenu {
    font-family: "DelaGothicOne", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
  }
  
  .text--button {
    /* font-family: "Raleway", Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left; */
  }
  
  .text--12-l {
    font-family: "Raleway", Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .text--12-b {
    font-family: "Raleway", Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .text--paragraph {
    font-family: "Raleway", Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .text--paragraph-b {
    font-family: "Raleway", Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .text--16-r {
    /* font-family: "Raleway", Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left; */
  }
  
  .text--16-b,
  .nav__link--activ {
    /* font-family: "Raleway", Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left; */
  }

  svg{
    /* font-family: "Raleway", Geneva, Verdana, sans-serif;
    font-size: 8px;
    font-weight: 400; */
  }