:root{
    --color-accent: #DA1F39;
    --color-one: #939694;
    --color-main: #000000;
    --color-three: #F4F4F4;

    
    --color-text: #9a9a9a;
    --color-background: #fff;

    --max-width: 1440px;


}